.home-join {
  font-size: 18px;
  color: white;
}

.home-h1 {
  font-size: 58px;
  max-width: 620px;
  font-weight: bolder;
  color: white;
}

.span-home {
  font-size: 17px;
  color: gray;
  font-weight: 600;
}

.home-underline {
  width: 580px;
  height: 5px;
  border-bottom: solid 2px grey;
  margin-top: 20px;
}

.home-button {
  width: 155px;
  height: 58px;
  border-radius: 30px;
  color: white;
  background-color: #ff3c00;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-button-call {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.home-call {
  display: flex;
  margin-left: 30px;
}

.home-img {
  width: 397px;
  height: 271px;
}

.home-cont1 {
  margin-bottom: 180px;
}

/* .home-img-cont{
  display: flex;
  flex-direction: column;
} */

@media only screen and (max-width: 1198px) {
  .home-h1 {
    font-size: 45px;
    max-width: 502px;
  }
}

@media only screen and (max-width: 990px) {
  .home-h1 {
    font-size: 35px;
    max-width: 380px;
  }

  .home-underline {
    width: 400px;
  }

  .home-button-call {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-call {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 766px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-img {
    width: 397px;
    height: 251px;
  }

  .home-cont1 {
    margin-bottom: 0px;
  }
}
